<p>Hello World!</p>
<p>A variable is given from route: <%= my_var %></p>

<h3>Student information:</h3>
<p>Name: <%= Student['name']%></p>
<p>Age: <%= Student['age']%></p>
<p>Birthday: <%= Student['birthday']%></p>